html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  width: 1024px;
}

header {
  font-size: xx-large;

  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 1rem;
}

#title_english {
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  background-color: rgb(47, 84, 150);
}

#title_chinese {
  font-family: sans-serif;
  font-size: 35px;
  padding: 0.7rem;
  color: rgb(47, 84, 150);
}

nav {
  background-color: #b69c6d;
  position: sticky;
  top: 0px;
  font-size: x-large;
  color: white;
  font-weight: 500;
  padding: 5px;
}

ul {
  margin: 0;
}

li {
  padding: 5px;
  display: inline-block;
}

#motto {
  width: 1024px;
  height: 400px;
}

.flex-container {
  display: flex;
}

.flex-container * {
  flex: 1;
  margin: auto 1rem auto 1rem;
}

.fade img {
  opacity: 0.7;
}

footer {
  text-align: center;
}
