html {
  scroll-behavior: smooth;
  background-color: #f5f1ea;
}

body {
  margin: auto;
  width: 1024px;
}

header {
  font-size: xx-large;
}

nav {
  background-color: #b69c6d;
  position: sticky;
  top: 0px;
  font-size: x-large;
  color: white;
  font-weight: 500;
  padding: 5px;
}

ul {
  margin: 0;
}

li {
  padding: 5px;
  display: inline-block;
}

#motto {
  width: 1024px;
  height: 400px;
}

.flex-container {
  display: flex;
}

.flex-container * {
  flex: 1;
  margin: auto 1rem auto 1rem;
}

.fade img {
  opacity: 0.7;
}
